<html>
<head>
    <title>Sulner</title>
</head>
<body>
<h3></h3>
<p>Please enter a URL to shorten in the form below</p>

<form action='shorten' method='post'>
    <label>URL
    <input type="text" name="long_url" size="50" id="long_url" />
    </label>
    <input type="submit" name="submit" value="Shorten" />
</form>
</body>
</html>